/* Sticky booking box */
.sticky-booking-box {
    position: fixed;
    top: 150px;
    right: 2vw;
    width: 500px;
    background-color: #fff;
    border-radius: 12px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
  }
  
  /* When reaching footer area */
  .sticky-booking-box.stop-sticky {
    position: absolute !important;
    top: auto !important;
    bottom: 50px; /* stays just above the footer */
  }

  
  /* Fix Slick overflow on mobile */
.slick-slider,
.slick-list{
  max-width: 100% !important;
  overflow: hidden !important;
}

.slick-slide {
  margin: 0 2px;
}

@media (max-width: 600px) {
  .slick-slide {
    margin: 0 1px !important;
  }
}

  /* Responsive behavior - normal flow on small screens */
  @media (max-width: 900px) {
    .sticky-booking-box {
      position: static;
      width: 100%;
      margin-top: 24px;
    }
  }
  