.adminLayoutSidebar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
    color: black;
    background-color: white;
  }
  
  .sidebar {
    width: 15rem;
    height: 100vh;
    transition: width 0.3s ease;
    flex-shrink: 0;
    border-right: solid 0.01rem #ccc;
  }
  
  .sidebar.collapsed {
    width: 4rem;
    display: flex;
    justify-content: center;
    border-right: solid 0.01rem #ccc;
  }
  
  .adminLayoutNavbar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    z-index: 99;
    height: 100vh;
    background-color: #f8f9fa;
    transition: width 0.3s ease;
  }
  
  .adminLayoutNavbar > *:first-child {
    height: 4.5rem;
    background-color: #fff;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .adminLayoutContent {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f1f3f6;
    font-size: 1rem;
    line-height: 1.6;
  }

